<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %></title>
</head>
<body>
  <h1><%= article.title %></h1>
  <p><%= article.text %></p>
  <p>Author: <%= article.author %></p>
  <a href="/articles">Back to Articles</a>
</body>
</html>
